
# Look for 'source'd files relative to the checked script,
# and also look for absolute paths in /mnt/chroot
#source-path=SCRIPTDIR
#source-path=/mnt/chroot

# Since 0.9.0, values can be quoted with '' or "" to allow spaces
#source-path="My Documents/scripts"

# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# Turn on warnings for unquoted variables with safe values
enable=quote-safe-variables

# Turn on warnings for unassigned uppercase variables
enable=check-unassigned-uppercase

# Allow [ ! -z foo ] instead of suggesting -n
disable=SC2236

# we are using bash
disable=SC2148

# all these definitions are called within functions in the main script, so we don't want to warn about them being unused
disable=SC2034

shell=bash


#        If no .shellcheckrc is found in any of the parent directories, ShellCheck will look in ~/.shellcheckrc followed by the $XDG_CONFIG_HOME (usually ~/.config/shellcheckrc) on Unix, or %APPDATA%/shellcheckrc  on  Windows.   Only  the
#        first file found will be used.

#        Note for Snap users: the Snap sandbox disallows access to hidden files.  Use shellcheckrc without the dot instead.

#        Note for Docker users: ShellCheck will only be able to look for files that are mounted in the container, so ~/.shellcheckrc will not be read.

# ENVIRONMENT VARIABLES
#        The environment variable SHELLCHECK_OPTS can be set with default flags:

#               export SHELLCHECK_OPTS='--shell=bash --exclude=SC2016'
